/* styles.css */
body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    text-align: center;
}

.game-container {
    margin-top: 100px;
}

#cookie {
    cursor: pointer;
}

#cookie-counter {
    font-size: 18px;
}
